body {
    background-color: #dddddd;
}

/* Scroll 4 */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
::-webkit-scrollbar-thumb {
    background-color: #1266f1;
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
  }

.navbar-dark .navbar-nav .nav-link {
    color: hsl(0deg 3% 93%);
}

.homePageSearchSection {
    background: #2575fc;
    background: -webkit-linear-gradient(to bottom, rgba(37, 117, 252, 0.5), rgba(245, 245, 245, 0.5));
    background: linear-gradient(to bottom, rgb(14 87 212 / 50%), rgba(245, 245, 245, 0.5));
}

.homePageSearchSection button {
    box-shadow: none;
    font-size: large;
    color: #777676;
}

.homePageSearchSection .input-group {
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}

.homePageSearchSection #search:focus {
    box-shadow: none;
}

.homePageSearchSection #search {
    /* box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%); */
    border: none;
    height: 3rem;
    padding: 0 2.5rem 0 0.7rem;
}

.homePageSearchSection #bg-image {
    background-image: url(../public/images/homepage_header_background.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

/* Notification Section Start */

.notification {
    background-color: #ffffff;
}

.jobListingCard .cardLogo img {
    width: 100%;
    border-radius: 50%;
}

.jobListingCard h5, .jobListingCard p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.jobListingCard h5 {
    font-size: 0.81rem;
}

.jobListingCard p {
    font-size: 0.6rem;
}

.jobListingCard .cardContent {
    /* width: 90%; */
    display: inline-grid;
}

.jobListingCard canvas.chaLogo {
    border-radius: 50%;
    /* background-color: greenyellow; */
    width: 45px;
    height: 45px;
    padding: 9px;
}

.row .col-sm-6:nth-child(2n+2) .jobListingCard .chaLogo circle {
    fill: rgb(196 136 27 / 30%)!important;
    color: rgb(196 136 27 / 100%);
}

.row .col-sm-6:nth-child(2n+1) .jobListingCard .chaLogo circle {
    fill: rgb(54 110 165 / 30%);
    color: rgb(54 110 165 / 100%);
}

.row .col-sm-6:nth-child(2n+3) .jobListingCard .chaLogo circle {
    fill: rgb(6 181 181 / 30%);
    color: rgb(6 181 181 / 100%);
}

.row .col-sm-6:nth-child(2n+4) .jobListingCard .chaLogo circle {
    fill: rgb(196 121 36 / 30%);
    color: rgb(196 121 36 / 100%);
}

.row .col-sm-6:nth-child(2n+5) .jobListingCard .chaLogo circle {
    fill: rgb(184 49 250 / 30%);
    color: rgb(184 49 250 / 100%);
}

.row .col-sm-6:nth-child(2n+2) .jobListingCard .chaLogo text {
    fill: rgb(196 136 27 / 100%)!important;
    color: rgb(196 136 27 / 100%);
}

.row .col-sm-6:nth-child(2n+1) .jobListingCard .chaLogo text {
    fill: rgb(54 110 165 / 100%);
    color: rgb(54 110 165 / 100%);
}

.row .col-sm-6:nth-child(2n+3) .jobListingCard .chaLogo text {
    fill: rgb(6 181 181 / 100%);
    color: rgb(6 181 181 / 100%);
}

.row .col-sm-6:nth-child(2n+4) .jobListingCard .chaLogo text {
    fill: rgb(196 121 36 / 100%);
    color: rgb(196 121 36 / 100%);
}

.row .col-sm-6:nth-child(2n+5) .jobListingCard .chaLogo text {
    fill: rgb(184 49 250 / 100%);
    color: rgb(184 49 250 / 100%);
}

/* Notification Section End */

/* Home Page Joblisting Section & Card Start */

/* .HListingCard  { */
    /* background-color: #ffffff; */
/* } */

.HListingCard .card .card-header .fas{
    margin-top: 3px;
}

.HListingCard .card .card-header{
    padding: 20px 22px;
    color: #fff;
    background: hsl(0deg 1% 40%);
}

/* Home Page Joblisting Section & Card End */


/* Job Header Table Details */
/* .JDHS table tbody td {
    padding: 
} */



/* Admin Css */
.collapse-card .card-header {
    cursor: pointer;
}

.datFee tr td {
    padding-bottom: 0;
}
table tbody {
    font-weight: 400!important;
}

/* .JDHS p {
    font-size: smaller;
} */
.tags span {
    border: #dddddd;
}